{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
  ],
  "extends": [
    "prettier"
  ],
  "rules": {
    "no-console": "error",
    "semi": "error",
    "quotes": ["error", "double"],
    "no-multi-spaces": "error",
    "arrow-body-style": "error"
  }
}